:root {
  --pf-global--primary-color--100: #012B3A;

  --kcw-color-primary: #012B3A;
  --kcw-color-secondary: #FF8F89;
  --kcw-color-background: #E5E9EB;
}

div.kc-logo-text {
  background: url(../img/kcw-logo.png) no-repeat center center;
  background-size: contain;
  height: 150px;
  width: unset;
}

.login-pf body {
  background: var(--kcw-color-background);
}

.pf-c-button {
  --pf-c-button--m-primary--hover--BackgroundColor: var(--kcw-color-secondary);
  --pf-c-button--m-primary--focus--BackgroundColor: var(--kcw-color-secondary);
  --pf-c-button--m-primary--active--BackgroundColor: var(--kcw-color-primary);
}

.pf-c-form-control {
  --pf-c-form-control--hover--BorderBottomColor: var(--kcw-color-primary);
  --pf-c-form-control--focus--BorderBottomColor: var(--kcw-color-primary);
}

@media (max-width: 767px) {
  .login-pf-page .card-pf {
    border-top: 4px solid;
  }

  div.kc-logo-text {
    height: 100px;
  }
}
